<style>
    .navbar{
        height: 10vh;
        padding: 0 5rem;
    }

    #lang a{
        text-decoration: none;
    }
    #lang a.active{
        font-weight: bold
    }
</style>
<nav class="navbar bg-dark">
    <div class="container-fluid p-0">

        <a class="navbar-brand text-white" href="">MaulanaSK</a>

        <div class="lang text-white" id="lang">
            <a href="home?lang=en" class="text-white" id="en">EN</a> / <a href="home?lang=id" class="text-white" id="id">ID</a>
        </div>

    </div>
</nav>

